<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Don't rewrite files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Don't rewrite static files
  RewriteCond %{REQUEST_URI} !^/sitemap\.xml$
  RewriteCond %{REQUEST_URI} !^/robots\.txt$
  
  # Rewrite everything else to index.html
  RewriteRule ^ index.html [L]
</IfModule>
